[submodule "CarND-Lane_Line_Detection"]
	path = CarND-Lane_Line_Detection
	url = https://github.com/MK2112/CarND-Lane_Line_Detection.git
[submodule "CarND-Advanced_Lane_Line_Detection"]
	path = CarND-Advanced_Lane_Line_Detection
	url = https://github.com/MK2112/CarND-Advanced_Lane_Line_Detection.git
[submodule "CarND-Behavioral_Cloning"]
	path = CarND-Behavioral_Cloning
	url = https://github.com/MK2112/CarND-Behavioral_Cloning.git
[submodule "CarND-Traffic_Sign_Classifier"]
	path = CarND-Traffic_Sign_Classifier
	url = https://github.com/MK2112/CarND-Traffic_Sign_Classifier.git
[submodule "CarND-Particle_Filter"]
	path = CarND-Particle_Filter
	url = https://github.com/MK2112/CarND-Particle_Filter.git
[submodule "CarND-Extended_Kalman_Filter"]
	path = CarND-Extended_Kalman_Filter
	url = https://github.com/MK2112/CarND-Extended_Kalman_Filter.git
[submodule "CarND-Highway_Path_Planner"]
	path = CarND-Highway_Path_Planner
	url = https://github.com/MK2112/CarND-Highway_Path_Planner.git
[submodule "CarND-PID_Controller"]
	path = CarND-PID_Controller
	url = https://github.com/MK2112/CarND-PID_Controller.git
[submodule "CarND-Capstone"]
	path = CarND-Capstone
	url = https://github.com/MK2112/CarND-Capstone.git
